--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
python-multipart

sentence-transformers
transformers
faiss-cpu
numpy
scikit-learn
rank-bm25

torch
python-dotenv
requests
pypdf
spacy
tiktoken
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz