--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
python-multipart

sentence-transformers
transformers
faiss-cpu
numpy
scikit-learn
rank-bm25

torch
python-dotenv
requests
pypdf