fastapi
uvicorn
pydantic
python-multipart

sentence-transformers
transformers
faiss-cpu
numpy
scikit-learn
rank-bm25

torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

python-dotenv
requests
pypdf